.container {
  position: fixed;
}

.container-bottom-left {
  bottom: 10px;
  left: 10px;
}

.container-top-right {
  top: 10px;
  right: 10px;
}

.container-top-left {
  top: 10px;
  left: 10px;
}

.container-bottom-right {
  bottom: 10px;
  right: 10px;
}

@keyframes moveFromLeftToRight {
  0% {
    transform: translateX(-400px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes moveFromRightToLeft {
  0% {
    transform: translateX(400px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.stackEffect {
  height: 55px;
}
.count {
  position: absolute;
  transition: 0.3s ease all;
  cursor: pointer;
}

.toast {
  position: absolute;
  position: absolute;
  width: 400px;
}
.notification {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding: 10px;
  gap: 8px;
  box-shadow: 0px 8px 16px 0px rgba(62, 66, 70, 0.15);
  background-color: var(--base-white);
}
.leftEffect {
  left: 0;
  animation: moveFromLeftToRight 0.3s ease;
}
.rightEffect {
  right: 0;
  animation: moveFromRightToLeft 0.3s ease;
}
.left {
  left: 0;
}
.right {
  right: 0;
}
.top {
  transition: 0.3s ease-in-out top /* , 0.3s ease opacity */; /* Opacity transition fixes the close animation, but when removing one notification emptybackground is seen */
}
.bottom {
  transition: 0.3s ease-in-out bottom /* , 0.3s ease opacity */; /* Opacity transition fixes the close animation, but when removing one notification emptybackground is seen */
}

.notification.filled.default {
  background-color: var(--main-color-secondary);
}
.notification.filled.success {
  background-color: var(--status-positive-active);
}
.notification.filled.error {
  background-color: var(--status-danger-active);
}
.notification.filled.warning {
  background-color: var(--status-warning-active);
}
.notification.filled.info {
  background-color: var(--status-info-active);
}
.notification.outlined.default {
  border: 1.5px solid var(--main-color-secondary);
}
.notification.outlined.success {
  border: 1.5px solid var(--status-positive-active);
}
.notification.outlined.error {
  border: 1.5px solid var(--status-danger-active);
}
.notification.outlined.warning {
  border: 1.5px solid var(--status-warning-active);
}
.notification.outlined.info {
  border: 1.5px solid var(--status-info-active);
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: var(--palettes-grey-blue-500);
}
.title.filled.success,
.title.filled.info,
.title.filled.error {
  color: var(--base-white);
}

.message {
  margin-top: 4px;
  font-size: 14px;
  line-height: 21px;
  color: var(--palettes-grey-blue-500);
}
.message.filled.success,
.message.filled.info,
.message.filled.error {
  color: var(--base-white);
}

.closeButton {
  align-self: flex-start;
  cursor: pointer;
  color: #858f99;
}
.closeButton.filled.success,
.closeButton.filled.info,
.closeButton.filled.error {
  color: var(--base-white);
}
